*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1160px;
    margin: 0 auto;
}
/* Shared Style Start */
.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.display-f{
    display: flex;
}
/* shared style end */

/* header section style start */
.heder-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.logo-name{
    align-items: center;
}
.brand-name{
    margin-left: 11px;
    font-weight: 700px;
    font-size: 2rem;
}
.item-container{
    column-gap: 32px;
}
.item{
    list-style: none;
    font-size: 1.25rem;
}
.nav-item1{
    color: #FEA301;
}
.nav-item2{
    color: #01ACFD ;
}
.nav-item3{
    color: #05D4DF;
}
.nav-item4{
    color: #5D58EF;
}
.contact-btn{
    padding: 10px 60px;
    border-radius: 12px;
    background-color: #FEA301;
    border: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 600px;
}
.fa-bars{
    display: none;
}
@media screen and (max-width:576px) {
    .heder-container{
        border: 0.5px solid #FEA301;
        margin: 0px;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
    }
    .brand-name,
    .nav-bar,
    .contact-btn{
        display: none;
    }
    .fa-bars{
        display: block;
        font-size: 30px;
    }
}
/* header section style end */

/* banner section start */
.banner-container{
    display: flex;
    align-items: center; 
    gap: 65px;
}
.banner-h{
    font-size:3.5rem ;
    line-height: 1.1;
}
.span-1{
    color: #FEA301;
}
.span-2{
    color: #01ACFD;
}
.banner-p{
    font-size: 1.25rem;
    font-weight: normal;
    margin-top: 24px;
    margin-bottom: 24px;
}
.enroll-btn{
    border: none;
    border-radius: 12px;
    background-color: black;
    padding: 10px 47px;
    color: white;
    font-size: 1.25rem;
    font-weight: 700px;
}
@media screen and (max-width:576px) {
    .banner-container{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .banner-content{
        width: 100%;
    }
    .banner-h{
        font-size:2rem ;
        text-align: center;
    }
    .banner-p{
        font-size:0.8rem ;
        text-align: center;
        font-weight: 500px;
        padding: 0 30px;
        margin-top: 18px;
        margin-bottom: 18px;
    }
    .banner-img{
        width: 100%;
    }
    .hero-img{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .enroll-btn{
        padding: 6px 24px;
        font-size: 1rem;
    }
    .center-btn{
        display: flex;
        justify-content: center;
    }
}
/* banner section end */
.standard-container{
    background-image: url(../assets/bg.png);
    margin-bottom: 120px;
    /* background-size: cover; */
}
.standard-h{
    padding-top: 60px;
    padding-bottom: 80px;
    text-align: center;
    font-size:2.8rem;
    font-weight: 700px;
}
.card-container{
    display: flex;
    justify-content: space-between;
}
.card{
    display: flex;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
    width: 367px;
    height: 476px;
    padding: 0 40px;
    box-shadow: 0 0 28.3px 0.9px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 18.5px;
}
.card-1{
    background-image: linear-gradient(to bottom,rgba(222, 245, 255, 1),rgba(255, 255, 255, 0));
}
.card-2{
    background-image: linear-gradient(to bottom,rgba(255, 244, 220, 1),rgba(255, 255, 255, 0));
}
.card-3{
    background-image: linear-gradient(to bottom,rgba(238, 225, 255, 1),rgba(255, 255, 255, 0));
}
.card-h{
    font-weight: 700px;
    font-size: 1.5rem;
    margin-top: 32px;
    margin-bottom: 32px;
}
.card-p{
    font-size: 0.9rem;
    font-weight: 500px;
    line-height: 1.5;
    margin-bottom: 30px;
}
.card1-a{
    text-decoration: none;
    color: #64C8FF;
}
.card2-a{
    text-decoration: none;
    color: #F0AA00;
}
.card3-a{
    text-decoration: none;
    color: #8700FF;
}
.circle-container{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    gap:10px;
}
.circle{
    width: 60px;
    height: 60px;
    background-color: #FEA301;
    border: none;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
}
@media screen and (max-width:576px) {
    .standard-container{
        margin-bottom: 0px;
    }
    .card-container{
    flex-direction: column;
    gap: 12px;
    }
    .card{
        width: 90%;
        margin-left: 5%;
    }
    .circle-container{
        display: none;
    }

    
}
/* our section design start */
.story-container{
    background-image: linear-gradient(to top,rgba(255, 209, 129, 0.40),rgba(255, 255, 255, 0.50)), url(../assets/bg.png);
    background-size: cover;
    width: 100%;
}
.story-h{
    font-weight: 700px;
    font-size: 2.8rem;
    margin-bottom: 80px;
    text-align: center;
}
.story-card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 18px;
}
.story-card1{
    grid-column: 1/3;
    grid-row: 1/3;
    border: none;
    border-radius: 16px;
    background-color: white;
}
.story-card2{
    background-color: white;
    border: none;
    border-radius: 16px;
}
.story-img{
    border: none;
    border-radius: 16px 16px 0 0 ;
}
.challange-btn,
.challange-btn-all{
    position: relative;
}
.story-btn{
    padding: 15px 18px;
    color: white;
    background-color: #3CD8E8;
    border: none;
    border-radius: 48px;
    position: absolute;
    left: 38px;
    bottom: -18px;
    font-weight: 500px;
    font-size: 0.9rem;
}
.story-card-h-1{
    font-size: 1.5rem;
    font-weight: 700px;
    padding-left: 38px;
    margin-top: 61px;
    margin-bottom: 47px;
}
.story-card-p{
    font-size: 0.9rem;
    font-weight: 500px;
    padding-left: 38px;
    padding-right: 65px;
    line-height: 1.7;
    padding-bottom: 34px;
}
.primary-btn{
    padding: 15px 18px;
    color: white;
    border: none;
    border-radius: 48px;
    position: absolute;
    left: 38px;
    bottom: -18px;
    font-weight: 500px;
    font-size: 0.9rem;
    background-color: #95B226;
}
.blue-btn{
    background-color: #5D58F0;
}
.story-card-h{
    font-size: 0.9rem;
    font-weight: 700px;
    padding-left: 38px;
    margin-top: 43px;
    padding-right: 53px;
}
.view-btn{
    margin-top: 80px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;

}
@media screen and (max-width:576px){
    .story-h{
        font-size: 1.6rem;
        margin-top: 80px;
        margin-bottom: 40px;
    }
    .story-card1,
    .challange-btn{
        display: none;
    }
    .story-card-container{
        grid-template-columns:repeat(2,1fr);
        width: 90%;
        margin-left: 5%;
        margin-top: 20px;
        gap: 10px;

    }
    .story-card2{
        width: 100%;
        height: auto;
    }
    .story-img{
    width: 100%;
    }
    .primary-btn{
    font-size: 0.6rem;
    padding: 5px 10px;
    left: 22px;
    bottom: -5px;
    }
    .story-card-h{
    font-size: 0.7rem;
    padding-left: 22px;
    margin-top: 25px;
    padding-right: 32px;
    padding-bottom: 19px;
    }
    .view-btn{
        width: 100%;
        margin-top: 20px;
    padding-bottom: 40px;
    }
}